<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mac.cinemabase" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--Main Activity-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Requested Movie-->
        <activity
            android:name=".RequestedMovie"
            android:label="@string/title_activity_requested_movie"
            android:screenOrientation="landscape">

        </activity>

        <!--Settings page-->
        <activity
            android:name=".SettingsPage"
            android:label="@string/title_activity_settings_page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mac.cinemabase.MainActivity" />
        </activity>


    </application>

</manifest>
