<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mac.cinemabase" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/movie_reel_converted"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

        <!--Main Activity-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--Facebook activity-->
        <activity
            android:name="com.facebook.FacebookActivity"
            android:screenOrientation="landscape"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <!--Requested Movie-->
        <activity
            android:name=".RequestedMovie"
            android:label="@string/title_activity_requested_movie"
            android:screenOrientation="landscape">

        </activity>

        <!--Help page-->
        <activity
            android:name=".HelpPage"
            android:label="@string/title_activity_help_page"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.mac.cinemabase.MainActivity" />
        </activity>


    </application>

</manifest>
